*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h2{
    color: whitesmoke;
}
h3{
    font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
body{
    background: url('https://wallpaperaccess.com/full/2248344.jpg') no-repeat;
    background-size: cover;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.wrapper{
    display: grid;
    width: 100%;
    min-height: 100vh;
    place-items: center;
    padding: 0 2em;
    background: rgba(14, 14, 14,0.85);
    overflow: hidden;

 }
 
table{
    max-width: 100%;
    padding: 0 2em;
    border-collapse: collapse;
    border-radius: 10px;
    font-size: 16px;
}
tr{
    border-bottom: 1px solid rgb(21, 36, 30);
    white-space: wrap;
    outline: none;
}
td{
    border-right: 0 2px solid #dddddd;
    text-align: center;
    padding: 8px 16px;
    background-color: thistle;
}
td div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
td:nth-child(even){
    background-color: rgb(250, 221, 177);
}
th{
    text-transform: uppercase;
    text-align: center;
    padding: 8px 16px;
    background-color: teal;
    color: white;
    font-size: 1.1em;
}
td p{
    word-break: break-all;
}
.buttonAdd button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.5em 1.2em;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
}
.buttonDelete{
    background-color: rgb(245, 50, 24);
    padding: 0 0.5em;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.5em;
    justify-self: flex-end;
}
@media screen and (max-width: 550px) {
    .wrapper{
        padding: 0 0.5em;
    }
    table{
        font-size: 10px;
    }
    td,tr{
        padding: 5px 0.5px;
    }
}
@media screen and (max-width: 350px) {
    td div{
        flex-direction: column;
    }
}